<div class="container">
    <h2>Ajouter une nouvelle voiture</h2>
  
    <form (ngSubmit)="onAddCar()">
      <div class="form-group">
        <label for="brand">Marque</label>
        <input type="text" [(ngModel)]="newCar.brand" name="brand" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="model">Modèle</label>
        <input type="text" [(ngModel)]="newCar.model" name="model" class="form-control" required>
      </div>
  
      <button type="submit" class="btn btn-success mt-2">Ajouter</button>
    </form>
  </div>
