<div class="container mt-4">
  <!-- Header -->
  <h2 class="text-center mb-4 mt-4">Liste des Voitures</h2>

  <!-- Conteneur pour la barre de recherche et le bouton Ajouter -->
  <div [ngClass]="{'col-md-8': selectedCar, 'col-md-12': !selectedCar}" class="mb-4 mt-4">
    <div class="d-flex">
      <!-- Barre de recherche -->
      <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher une voiture..." class="form-control me-2">
      
      <!-- Bouton Ajouter -->
      <button class="btn btn-primary" (click)="goToAddPage()">Ajouter</button>
    </div>
  </div>

  <!-- Conteneur pour le tableau et la card -->
  <div class="row">
    <!-- Tableau : prend 2/3 si une voiture est sélectionnée, sinon 100% -->
    <div [ngClass]="{'col-md-8': selectedCar, 'col-md-12': !selectedCar}">
      <!-- Tableau des voitures -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of filteredCars">
            <td>{{ car.id }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>
            <td>
              <!-- Bouton Détails -->
              <button class="btn btn-info" (click)="onClickChangeSelectedCar(car.id)">Détails</button>

              <!-- Bouton Supprimer -->
              <button class="btn btn-danger" (click)="onDeleteCar(car.id)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Card des détails visible uniquement si une voiture est sélectionnée -->
    <div *ngIf="selectedCar" class="col-md-4">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Détails de la voiture</h5>
          <p><strong>Marque :</strong> {{ selectedCar.brand }}</p>
          <p><strong>Modèle :</strong> {{ selectedCar.model }}</p>
          <img src="https://picsum.photos/200" alt="Image aléatoire">
        </div>
      </div>
    </div>
  </div>
</div>
